header {
  text-align: right;
  background-color: orange;
  padding: 15px 20px;
}
header img {
  float: left;
  padding-left: 100px;
  width: 50px;
  height: 25px;
}

a {
  text-decoration: none;
  font-family: sans-serif;
  color: white;
  font-size: 23px;
  padding: 0 20px;
}

div.search {
  height: 50px;
  text-align: right;
  padding-right: 50px;
}

.search input {
  height: 45px;
  with: 100px;
  font-size: 20px;
}

p {
  font-family: sans-serif;
  font-size: 30px;
  color: orange;
  text-align: right;
  margin-right: 40px;

}

span.blue {
  color: aquamarine;
}

img.body {
  float: left;
  height: 200px;
  width: 200px;
  padding-left: 200px;
}

button {
  display: inline-block;
  width: 200px;
  height: 45px;
  border: none;
  font-size: 14px;
  color: white;
  padding-right: 40px;
}

button.blue {
  background-color: aquamarine;
  text-align: center;
}

button.orange {
  background-color: orange;
  text-align: center;
}

footer {
  margin-top: 50px;
  background-color: aquamarine;
  height: 100px;
  padding-top: 20px;
  text-align: center;
}

footer img {
  height: 20px;
  width: 20px;
}
